[Unit]
Description=HNSW Index Builder service

[Service]
User=shishir
Type=simple
Restart=on-failure
ExecStart=python3 /work/q_search/index_update.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
